<!DOCTYPE html>
<html lang="ch-ZN">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="js/element-ui/lib/theme-chalk/index.css">
    <script src="js/request.js"></script>
    <script src="js/validate.js"></script>
</head>

<body>
<h2>云平台--用户登录</h2>
<div id="login-app">
    <p style="color: red;" v-show="errorMsg">账号或密码错误！</p>
    <table>
        <tr>
            <td>账号：</td>
            <td><input type="text" name="username" v-model="loginForm.userName"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" v-model="loginForm.userPassword"></td>
        </tr>
        <tr>
            <td><input type="button" value="登录" @click="handleLogin"></td>
            <td>没有账号？<a href="./register.html">注册</a></td>
        </tr>
    </table>
</div>
</body>

<script>

    new Vue({
        el: "#login-app",
        data() {
            return {
                loginForm: {
                    userName: '',
                    userPassword: ''
                },
                returnValue: false,
                errorMsg: false
            }
        },
        methods: {
            async handleLogin() {
                let _this = this;
                //this.errorMsg = true;
                console.log(_this.loginForm)
                axios(
                    {
                        method: "post",
                        url: "http://localhost:8080/CloudComputation/user/login",
                        data: _this.loginForm
                    }
                ).then(function (resp) {
                    returnValue = resp.data;
                    console.log('返回的数据');
                    console.log(resp.data)
                    if (returnValue.userId >= 0) {
                        _this.errorMsg = false
                        //重定向到新的页面 返回值为1的时候
                        localStorage.setItem('userInfo', JSON.stringify(returnValue))
                        console.log(returnValue)
                        //let _user = JSON.parse(localStorage.getItem('userInfo'))
                        //console.log(_user)
                        window.location.href = 'test.html'
                    } else {
                        //输出错误信息
                        _this.errorMsg = true
                    }
                });
            }
        }
    })
</script>

</html>