<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cloud.cloudcomputation.dao.VmMapper">
  <resultMap id="BaseResultMap" type="com.cloud.cloudcomputation.pojo.Vm">

    <id column="vmid" jdbcType="INTEGER" property="vmId" />
    <result column="mips" jdbcType="INTEGER" property="mips" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="ram" jdbcType="INTEGER" property="ram" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="pesNumber" jdbcType="INTEGER" property="pesNumber" />
    <result column="vmm" jdbcType="VARCHAR" property="vmm" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="isAutoScaling" jdbcType="INTEGER" property="isAutoScaling" />
  </resultMap>



  <select id="selectSelective" resultType="com.cloud.cloudcomputation.pojo.Vm"
          parameterType="com.cloud.cloudcomputation.pojo.Vm">
    select *
    from Vm
    where vmid = #{vmid, jdbcType=INTEGER};
  </select>

  <select id="selectVmFromUser" resultType="com.cloud.cloudcomputation.pojo.Vm"
          parameterType="com.cloud.cloudcomputation.pojo.User">
    select *
    from Vm
    where userId = #{userId, jdbcType=INTEGER};
  </select>


  <delete id="deleteSelective" parameterType="com.cloud.cloudcomputation.pojo.Vm">
    delete from Vm
    where vmid = #{vmid, jdbcType=INTEGER};
  </delete>


  <insert id="insertSelective" parameterType="com.cloud.cloudcomputation.pojo.Vm" useGeneratedKeys = "true" keyProperty = "vmid">
    insert into Vm(mips, size, ram, os, pesNumber, vmm, userId, isAutoScaling)
    values (#{mips, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}, #{ram, jdbcType=INTEGER}, #{os, jdbcType=VARCHAR},
            #{pesNumber, jdbcType=INTEGER}, #{vmm, jdbcType=VARCHAR}, #{userId, jdbcType=INTEGER}, #{isAutoScaling, jdbcType=INTEGER});
  </insert>

  <update id="updateSelective" parameterType="com.cloud.cloudcomputation.pojo.Vm">
        update Vm
        set mips = #{mips, jdbcType=INTEGER},
            size = #{size, jdbcType=INTEGER},
            ram = #{ram, jdbcType=INTEGER},
            os = #{os, jdbcType=VARCHAR},
            pesNumber = #{pesNumber, jdbcType=INTEGER},
            vmm = #{vmm, jdbcType=VARCHAR},
            isAutoScaling = #{isAutoScaling, jdbcType=INTEGER}
        where vmid = #{vmid, jdbcType=INTEGER};
  </update>

</mapper>